$colors: (
  bgcolor: whitesmoke,
  gray: #eee,
  black: #333,
  blue: #0099e8,
  bottom-gray: #8080803b,
  gray2: #a9a9a985,
  gray-trans: #ffffff00,
  gray3: #aaa,
  ash: #f5f5f5,
  white: #fff,
  good: #ef5185,
  nomal: #fba933,
  bad: #6ab5d8,
  btn-red: #ea352d,
  title-gray: #888,
  title-black: #80808073,
  title-bg: #80808014,
  header-black: #80808061,
  icon-black: #80808000,
  ber-gray:#ccc,
  facebook-blue: #385185
);

@function colors($key) {
  @return map-get($colors, $key);
}