$colors: (
  gray: #eee,
  black: #333,
  blue: #0099e8,
  bottom-gray: #8080803b,
  gray-white: #F5F5F5,
  gray2: #a9a9a985,
  gray-trans: #ffffff00,
  red: #ea352d,
  gray3: #aaa


);

@function colors($key) {
  @return map-get($colors, $key);
}