.progress-bar
  .progress-bar__text
    .progress-bar__text__member-info
      %p会員情報
    .progress-bar__text__phone-confirmation
      %p電話番号認証
    .progress-bar__text__adress
      %pお届け先住所入力
    .progress-bar__text__payment
      %p支払い方法
    .progress-bar__text__complete
      %p完了
  .progress-bar__lines
    .progress-bar__lines__member-info
    .progress-bar__lines__member-info-to-phone
    .progress-bar__lines__phone-confirmation
    .progress-bar__lines__phone-confirmation-to-adress
    .progress-bar__lines__adress
    .progress-bar__lines__adress-to-payment
    .progress-bar__lines__payment
    .progress-bar__lines__payment-to-complete
    .progress-bar__lines__complete
