= render 'shared/logo-onlyheader'
.authentication-contents
  .authentication-mainitems
    .authentication-mainitems__title
      認証番号の確認
    .authentication-input-screen
      .authentication-input-screen__maincontent
        .authentication-input-screen__maincontent__text
          ***-****-1234にSMSでお送りした6桁の認証番号を入力してください。
        .authentication-input-screen__maincontent__authentication
          .authentication-input-screen__maincontent__authentication__text
            認証番号
            
          %input{type: "text", placeholder:"6桁の暗証番号を入力", class: "authentication-input-screen__maincontent__authentication__input"}

          %button{type: "submit", class: "authentication-input-screen__maincontent__authentication__submit-btn"}
            認証して完了
    .no-reachnumber
      .no-reach-content
        .no-reach-content__guide
          60秒たっても認証番号が届かない方へ
        .no-reach-content__tel
          電話で認証番号を聞くこともできます。
          %button{type: "submit", class: "no-reach-content__tel__btn"}
            電話で認証番号を聞く（通話無料）
        .no-reach-content__resend
          認証番号を再送することもできます。
          %button{type: "submit", class: "no-reach-content__resend__btn"}
            認証番号を再送する
        .no-reach-content__email
          メールアドレスで認証することもできます。
          %button{type: "submit", class: "no-reach-content__email__btn"}
            メールアドレスで認証する
        .no-reach-content__sms-guide
          ※SMSが届かない場合は
          %a{ href: "", class: "no-reach-content__sms-guide__a"}SMS受信設定
          を確認して、
          %P もう一度電話番号を入力してください。
= render 'shared/copywrite-bottom'