.header
  .header__logo
    .header__picture
      = link_to image_tag( 'https://web-jp-assets.mercdn.net/_next/static/images/logo-acdd90ac4f472d5a6f7a330d33ab1225.svg')
.main-items
  .title
    認証番号の確認
