= render 'shared/header'
.mypage-contents
  = render 'shared/sidemenu'
  .mypage-main
    .card-data-input
      .card-data-input__top
        クレジットカード情報入力
      .card-data-input__information
        .card-data-input__information__box
          .card-data-input__information__box__card-number-box
            .card-data-input__information__box__card-number-box__card-number
              カード番号
            .card-data-input__information__box__card-number-box__label-hisu
              必須


          -# .card-data-input__information__box__card-ichiran
          -#   クレジットカード一覧
        -#   .card-data-input__information__box__card-companys
        -#     .card-data-input__information__box__card-companys__box
        -#       .card-data-input__information__box__card-companys__box__card-company
        -#         = image_tag "card-visa.svg", id: "card-data-input__information__box__card-companys__box__card-company__icon--visa", class: "card-data-input__information__box__card-companys__box__card-company__icon--visa", size: "49x15"
        -#       .card-data-input__information__box__card-companys__box__card-delete
        -#         削除する
        -#     .card-data-input__information__box__card-companys__card-number
        -#       ************4351
        -#     .card-data-input__information__box__card-companys__card-yearmonth
        -#       08 / 26
        -# .card-data-input__information__box-payment
        -#   .card-data-input__information__box-payment__payment-link
        -#     支払い方法について
        -#     = fa_icon 'angle-right'
= render 'shared/footer'
= render 'shared/buy'