=render 'shared/logo-onlyheader'
.login_outline
  .login_contents
    .login_no_account
      .login_no_account__text
        アカウントをお持ちでない方はこちら
      %button{type: "submit", class: "login_no_account__btn"}
        新規会員登録
    .login_otherways
      .login-type
        %button{type: "submit", class: "login-type__facebook"}
          .login-type__facebook__icon
            = fa_icon "facebook-square"
          .login-type__facebook__text
            Facebookでログイン
        %button{type: "submit", class: "login-type__google"}
          .login_type__google__icon
          .login_type__google__text
            Googleでログイン
    .login_form
      .login_form_contents
        %input{type: "text",placeholder:"メールアドレス", class: "login_form_contents__input-email" } 
        %input{type: "text",placeholder:"パスワード", class: "login_form_contents__input-password" } 
        .login_form_contents__re-captcha
          re-captcha仮置きのハコです。
        %button{type: "submit", class: "login_form_contents__login-btn"}
          ログイン
        = link_to  '', class: 'login_form_contents__foget-password__text' do
          パスワードをお忘れの方
=render 'shared/copywrite-bottom'