.body
  .header
    .headers
      .headers__mercarilogo
        = image_tag 'logomercari.svg', id:'assets', class:'image', size:'185x45' 
      .headers__status
        = render 'users/new-user-progress'
  .contents
    .uppercontent
      %h2会員登録完了
    .rowercontent
      .rowercontent__text
        %pありがとうございます。
        %p会員登録が完了しました。
      .rowercontent__box
        %pメルカリをはじめる
    .advertisement
      = image_tag 'user_rejister_complete_commerce.png', size: "700x250"
  .footer
    .footer__policy
      %pプライバシーポリシー
    .footer__rule
      %pメルカリ利用規約
    .footer__comarce
      %p特定商取引に関する表記





  