.registrationNewmenbar-body
  .registrationNewmenbar-header
    = render 'users/userResist-logo-gray'
  .registrationNewmenbar-maincontent
    .registrationNewmenbar-maincontent__contents
      .registrationNewmenbar-maincontent__contents__header
        %h2新規会員登録
      .registrationNewmenbar-maincontent__contents__box
        .registrationNewmenbar-maincontent__contents__box__boxs
          .registrationNewmenbar-maincontent__contents__box__boxs__mail
            %button{type: "submit",class: "mailaddress"}
              .mailaddress__icon
                %i{class: 'far fa-envelope'}
              .mailaddress__text
                メールアドレスで登録する
          .registrationNewmenbar-maincontent__contents__box__boxs__facebook
            %button{type: "submit",class: "facebook"}
              .facebook__icon
                %i{class: 'fab fa-facebook-square'}
              .facebook__text
                Facebookで登録する
          .registrationNewmenbar-maincontent__contents__box__boxs__google
            %button{type: "submit",class: "google"}
              .google__icon
              .google__text
                googleで登録する
  .registrationNewmenbar-footer
    = render 'shared/copywrite-bottom'



