.copywrite-bottom
  .bottom-content
    .bottom-content__information
      .bottom-content__information__privacy-policy
        プライバシーポリシー
      .bottom-content__information__terms
        メルカリ利用規約
      .bottom-content__information__transaction-law
        特定商取引に関する表記
    .bottom-content__logo
      = link_to image_tag ( 'logo-gray.svg' )
    .bottom-content__copywrite
      @ 2019 Mercari