.footer {
  position: relative;
  bottom: -48px;
  margin-left: 8px;
  .breadcrumbs{
    height: 50px;
    border-top: solid 1px colors(gray); 
    text-indent: 200px;
    line-height: 48px;
    clear: both;
    a:hover{
      border-bottom: solid 1px colors(black);
      color: colors(title-gray);
    }
    .current{
      font-weight: bold;
    }
  }
  &__ad{
    img{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 247px;
    width: 100vw;
    margin-left: -8px;
    margin-bottom: -2px;
    }
  }
  &__box {
    background-color: rgb(34, 34, 34);
    height: 389px;
    width: 100vw;
    margin-left: -8px;
    &__top {
      margin: 0 13.5vw;
      padding-top: 21px;
      display: flex;
      &__mercari {
        position: relative;
        left: 18px;
        &__title {
          color: colors(white);
          font-weight: bold;
          font-size: 16px;
          padding-bottom: 3px;
        }
        &__text {
          font-size: 12px;
          color: #afafaf;
          margin-bottom: 25px;
          p {
            margin-top: 19px;
          }
        }
        &__icon {
          display: flex;
          width: 100px;
          position: relative;
          right: 8px;
          &__twitter{
            height: 70px;
            width: 80px;
            zoom: 0.5;
          }
          &__facebook{
            height: 70px;
            width: 80px;
            zoom: 0.5;
            margin-left: 15px;
          }
        }
      }
      &__help {
        position: relative;
        left: 58px;
        &__title {
          color: colors(white);
          font-weight: bold;
          font-size: 16px;
          padding-bottom: 3px;
        }
        &__text {
          font-size: 12px;
          color: #afafaf;
          margin-bottom: 25px;
          line-height: 15px;
          p {
            margin-top: 18px;
          }
        }
      }
      &__privacy1 {
        position: relative;
        left: 100px;
        &__title {
          color: colors(white);
          font-weight: bold;
          font-size: 16px;
          padding-bottom: 3px;
        }
        &__text {
          font-size: 12px;
          color: #afafaf;
          margin-bottom: 25px;
          p {
            margin-top: 18px;
            margin-bottom: 5px;
          }
        }
      }
      &__privacy2 {
        position: relative;
        left: 130px;
        margin-top: 20px;
        &__text {
          font-size: 12px;
          color: #afafaf;
          margin-bottom: 25px;
          p {
            margin-top: 18px;
            margin-bottom: 5px;
          }
        }
      }
      &__country {
        position: relative;
        left: 180px;
        &__title {
          color: colors(white);
          font-weight: bold;
          font-size: 16px;
          padding-bottom: 3px;
        }
        &__text {
          font-size: 12px;
          color: #afafaf;
          margin-bottom: 25px;
          p {
            margin-top: 18px;
          }
        }
      }
    }
 &__country{
  margin-left: 50px;
  &__title{
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 3px;
  }
  &__text{
    font-size: 12px;
    color: #afafaf;
    margin-bottom: 25px;
    p{
      margin-top: 18px;
    }
  }
}
    &__bottom{
      height: 45px;
      width: 275px;
      img{
      zoom: 0.5;
      margin-top: -10px;
      padding: 0 13%;
      position: absolute;
      left: 15px;
      }
      &__text{
        color: colors(white);
        width: 100px;
        height: 50px;
        line-height: 30px;
        position: absolute;
        left: 675px;
        display: flex;
        &__icon {
          font-size: 12px;
          margin-right: 3px;
        }
        &__main {
          font-size: 12px;
        }
      }
     }
  }
  }

