.mercarilogo-onlyheader {
  width: 100vw;
  height: 128px;
  &__logo {
    padding: 3%;
    margin: 0px auto;
    width: 282px;
    height: 49px;
  }
  &__picture {
    width: 185px;
    height: 49px;
  }
}
