.mypage-contents {
  display: flex;
  height: 100%;
  width: 100%;
  .mypage-main {
    width: 66%;
    margin: 40px auto 0;
    .mypage-user {
      margin: 8px 0 0 40px;
      width: 700px;
      &__header {
        height: 120px;
        background: image-url('user-bg.jpg');
        background-repeat: no-repeat;
        padding: 40px;
        text-align: center;
        position: relative;
        &__icon {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          margin: 0 auto;
          overflow: hidden;
        }
        &__name {
          font-size: 14px;
          margin-top: 8px;
        }
        &__count {
          margin-top: 8px;
          &__evaluate {
            display: inline-block;
            &__number {
              @include number;
            }
          }
          &__exhibit {
            display: inline-block;
            margin-left: 8px;
            &__number {
              @include number;
            }
          }
        }
      }
      .notice-todo {
        width: 100%;
        background-color: #fff;
        .mypage-menu-tabs {
          @include tabs;
          .mypage-menu-tab{
            width: 50%;
          }
          #active {
            @include active;
          }
          a {
            text-align: center;
            line-height: 75px;
          }
        }
        &__contents {
          &__line {
            position: relative;
            display: block;
            padding: 16px;
            color: #333;
            border-bottom: 1px solid #eee;
            &__text {
              margin:0 40px 0 68px;
              line-height: 1.5;
              overflow: hidden;
              max-height: 4.4em;
              &__time {
                display: flex;
                color: #888;
                &__date {
                  margin-left: 8px;
                }
              }
            }
            &--arrow {
              position: absolute;
              top:50%;
              right: 15px;
            }
          }
          &--mercari {
            width: 48px;
            height: 48px;
            float: left;
            overflow: hidden;
          }
          &__show-list {
            padding: 16px;
            a {
              height: 55px;
              text-align: center;
              line-height: 55px;
              background-color: #eee;
              color: #333;
              display: block;
            }
          }
        }
      }
    }
    .mypage-transaction {
      width: 700px;
      margin: 40px 0 0 40px;
      background-color: #fff;
      &__header {
        background-color: #fafafa;
        padding: 0 16px;
        font-size: 16px;
        font-weight: bold;
        height: 75px;
        line-height: 75px;
      }
      .mypage-menu-tabs {
        @include tabs;
        .mypage-menu-tab{
          width: 50%;
        }
        #active {
          @include active;
        }
        a {
          text-align: center;
          line-height: 75px;
        }
      }
      .mypage-products {
        &__no-product {
          padding: 160px 0 60px;
          background: image-url('logo-gray-icon.svg');
          background-repeat: no-repeat;
          background-position: center 40px;
          background-size: 78px 85px;
          text-align: center;
          font-size: 16px;
          color: #ccc;
        }
      }
    }
  }
}