.userRegist-complete-progress-bar{
  height: 72px;
  width: 552px;
  background-color: colors(bgcolor);
  display: flex;
  align-items: center;
  flex-direction: column;
  &__text{
    height: 16px;
    width: 508px;
    display: flex;
    align-items: center;
    &__member-info{
      font-size: 12px;
      color: colors(title-gray);
    }
    &__phone-confirmation{
      margin-left: 50px;
      font-size: 12px;
      color: colors(title-gray);
    }
    &__adress{
      margin-left: 35px;
      font-size: 12px;
      color: colors(title-gray);
    }
    &__payment{
      margin-left: 40px;
      font-size: 12px;
      color: colors(title-gray);
    }
    &__complete{
      margin-left: 70px;
      font-size: 12px;
      color: colors(btn-red);
    }
  }
  &__lines{
    height: 16px;
    width: 490px;
    display: flex;
    justify-content: center;
    align-items: center;
    &__member-info{
      height: 12px;
      width: 12px;
      background-color: colors(btn-red);
      border-radius: 50%;
    }
    &__member-info-to-phone{
      height: 2px;
      width: 105px;
      background-color: colors(btn-red);
    }
    &__phone-confirmation{
      height: 12px;
      width: 12px;
      background-color: colors(btn-red);
      border-radius: 50%;
    }
    &__phone-confirmation-to-adress{
      height: 2px;
      width: 105px;
      background-color: colors(btn-red);
    }
    &__adress{
      height: 12px;
      width: 12px;
      background-color: colors(btn-red);
      border-radius: 50%;
    }
    &__adress-to-payment{
      height: 2px;
      width: 105px;
      background-color: colors(btn-red);
    }
    &__payment{
      height: 12px;
      width: 12px;
      background-color: colors(btn-red);
      border-radius: 50%;
    }
    &__payment-to-complete{
      height: 2px;
      width: 105px;
      background-color: colors(btn-red);
    }
    &__complete{
      height: 12px;
      width: 12px;
      background-color: colors(btn-red);
      border-radius: 50%;
    }
  }
}