.card-data-display{
  @include chapter($landr: auto);
  &__top{
    @include card-view-top;
  }
  &__information{
    @include card-view-information;
    height: 314.19px;
    padding: 64px;
    &__box{
      width: 572px;
      height: 129.09px;
      border-bottom: 1px solid colors(gray);
      &__card-ichiran{
        width: 320px;
        font-size: 16px;
        font-weight: bold;
        margin:0 auto;
      }
      &__card-companys{
        width: 320px;
        height: 64.09px;
        padding:24px 0;
        margin:0 auto;
        &__box{
          width: 320px;
          height: 16.09px;
          &__card-company{
            text-align:left;
            &__icon {
              max-width: 49px;
              height: 20px;
            }
          }
        }
        &__card-number-box{
          width: 320px;
          height: 16.09px;
          justify-content:space-between;
          display:flex;
          &__number{
            width: 320px;
            height: 16px;
            margin-top:8px;
            font-size: 16px;
          }
          &__mark{
            border-radius: 50%;
            border: 4px solid colors(blue);
            width: 10px;
            height: 10px;
            font-size:14px;
            font-family: 'Source Sans Pro', Helvetica, Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
            background-color: colors(white);
            margin-top:10px;
          }
        }
        &__card-yearmonth{
          width: 320px;
          height: 16px;
          margin-top:8px;
          font-size: 16px;
        }
      }
    }
    &__btn{
      width: 100%;
      height: 50px;
      text-align: center;
      .submit{
        background-color: colors(btn-red);
        width: 320px;
        height: 50px;
        font-size: 14px;
        color: colors(white);
        margin: 16px auto 0;
        cursor: pointer;
      }
    }
  }
}