.member-information_header{
  margin-left: 350px;
  display: inline-block;
  padding-top: 40px;
  height: 128px;
  text-align:  center;  
  
  &__logo{
    margin-right: 50px;
    display: inline-block;
    width: 185px;
    height: 49px;
    
  }
  .userRegist-complete-progress-bar{
    float: right;
    height: 72px;
    background-color:rgb(245, 245, 245);
    width: 552px;

    &__text{
      background-color:rgb(245, 245, 245);
      height: 16px;
      width: 508px;
      display: flex;

      &__member-info{
        font-size: 12px;
        color:#888;
      }
      &__phone-confirmation{
        margin-left: 50px;
        font-size: 12px;
        color: #888;
      }
      &__adress{
        margin-left: 35px;
        font-size: 12px;
        font-weight: 600;
        color:  #EA352D;
      }
      &__payment{
        margin-left: 40px;
        font-size: 12px;
        color: #888;
      }
      &__complete{
        margin-left: 70px;
        font-size: 12px;
        color:#888;
      }
    }
    &__lines{
      background-color:rgb(245, 245, 245);
      height: 16px;
      width: 490px;
      display: flex;
      justify-content: center;
      align-items: center;
      &__member-info{
        height: 12px;
        width: 12px;
        background-color: #EA352D;
        border-radius: 50%;
      }
      &__member-info-to-phone{
        height: 2px;
        width: 105px;
        background-color:#EA352D;
      }
      &__phone-confirmation{
        height: 12px;
        width: 12px;
        background-color:#EA352D;
        border-radius: 50%;
      }
      &__phone-confirmation-to-adress{
        height: 2px;
        width: 105px;
        background-color: #EA352D;
      }
      &__adress{
        height: 12px;
        width: 12px;
        background-color:  #EA352D;
        border-radius: 50%;
      }
      &__adress-to-payment{
        height: 2px;
        width: 105px;
        background-color:#ccc;
      }
      &__payment{
        height: 12px;
        width: 12px;
        background-color: #ccc;
        border-radius: 50%;
      }
      &__payment-to-complete{
        height: 2px;
        width: 105px;
        background-color:#ccc;
      }
      &__complete{
        height: 12px;
        width: 12px;
        background-color:#ccc;
        border-radius: 50%;
      }
    }
  }
}


.address-registration{
  .address-registration-entire{
    &__title{
      margin: auto;
      text-align: center;
      background-color: white;
      width: 700px;
      height: 95px;
      line-height: 95px;
      font-size: 22px;
      font-weight: 550;
      margin-bottom:  2px;

    }
  }
}

.address-registration-item{
  padding-top: 40px; 
  margin: auto;
  background-color: white;
  width: 700px;
  text-align: center;
  

  &__name{
    display: inline-grid;
    &__text{
      display: flex;
      margin-bottom: 5px;
      &__title{
        font-weight: 600;
      }
      &__required{
        background-color: #EA352D;
        color: white;
        width: 32px;
        height: 19px;
        display: inline-block;
        font-size: 13px;
        border-radius: 2px;
        padding: 2px;
        margin-left: 5px;
      }
    }

    &__input-form{
      display: inline-block;
      &__lastname{
        display: block;
        width: 343px;
        height: 48px;
        border-radius: 5px;
        border: solid 1px #80808073;
        margin-bottom: 8px;

      }
      &__firstname{
        width: 343px;
        height: 48px;
        border-radius: 5px;
        border: solid 1px #80808073;

      }
    }
  }

  &__kananame{
    display: block;

    &__text{
      display: flex;
      margin-bottom: 5px;
      padding-left: 180px;
      margin-top: 30px;
      &__title{
        font-weight: 600;
      }
      &__required{
        background-color: #EA352D;
        color: white;
        width: 32px;
        height: 19px;
        display: inline-block;
        font-size: 13px;
        border-radius: 2px;
        padding: 2px;
        margin-left: 5px;

      }
    }
    &__input-form{
      display: inline-block;
      &__lastname{
        display: block;
        width: 343px;
        height: 48px;
        border-radius: 5px;
        border: solid 1px #80808073;
        margin-bottom: 8px;

      }
      &__firstname{
        width: 343px;
        height: 48px;
        border-radius: 5px;
        border: solid 1px #80808073;

      }
    }
  }

  &__postalcode{
    &__text{
      display: flex;
      margin-bottom: 5px;
      padding-left: 180px;
      margin-top: 30px;
      &__title{
        font-weight: 600;

      }
      &__required{
        background-color: #EA352D;
        color: white;
        width: 32px;
        height: 19px;
        display: inline-block;
        font-size: 13px;
        border-radius: 2px;
        padding: 2px;
        margin-left: 5px;
      }
    }
    &__input-form{
      display: inline-block;
      &__nomber{
        width: 343px;
        height: 48px;
        border-radius: 5px;
        border: solid 1px #80808073;
      }
    }
  }

  &__prefectures{
    &__text{
      display: flex;
      margin-bottom: 5px;
      padding-left: 180px;
      margin-top: 30px;
      &__title{
        font-weight: 600;

      }
      &__required{
        background-color: #EA352D;
        color: white;
        width: 32px;
        height: 19px;
        display: inline-block;
        font-size: 13px;
        border-radius: 2px;
        padding: 2px;
        margin-left: 5px;
      }
    }

    &__form{
      &__prefectures{
        width: 343px;
        height: 48px;
        border-radius: 5px;
        border: solid 1px #80808073;
      }

    }
  }

  &__city{
    &__text{
      display: flex;
      margin-bottom: 5px;
      padding-left: 180px;
      margin-top: 30px;
      &__title{
        font-weight: 600;

      }
      &__required{
        background-color: #EA352D;
        color: white;
        width: 32px;
        height: 19px;
        display: inline-block;
        font-size: 13px;
        border-radius: 2px;
        padding: 2px;
        margin-left: 5px;
      }
    }

    &__input-form{
      &__town{
        width: 343px;
        height: 48px;
        border-radius: 5px;
        border: solid 1px #80808073;
      }
    }
  }

  &__address{
    &__text{
      display: flex;
      margin-bottom: 5px;
      padding-left: 180px;
      margin-top: 30px;
      &__title{
        font-weight: 600;
      }
      &__required{
        background-color: #EA352D;
        color: white;
        width: 32px;
        height: 19px;
        display: inline-block;
        font-size: 13px;
        border-radius: 2px;
        padding: 2px;
        margin-left: 5px;
      }
    }
    &__input-form{
      width: 343px;
      height: 48px;
      border-radius: 5px;
      border: solid 1px #80808073;
    }
  }

  &__building{
    &__text{
      display: flex;
      margin-bottom: 5px;
      padding-left: 180px;
      margin-top: 30px;
      &__title{
        font-weight: 600;
      }
      &__required{
        background-color: #ccc;
        color: white;
        width: 32px;
        height: 19px;
        display: inline-block;
        font-size: 13px;
        border-radius: 2px;
        padding: 2px;
        margin-left: 5px;
      }
    }

    &__input-form{
      width: 343px;
      height: 48px;
      border-radius: 5px;
      border: solid 1px #80808073;
    }
  }

  &__tel{
    &__text{
      display: flex;
      margin-bottom: 5px;
      padding-left: 180px;
      margin-top: 30px;
      &__title{
        font-weight: 600;
      }
      &__required{
        background-color: #ccc;
        color: white;
        width: 32px;
        height: 19px;
        display: inline-block;
        font-size: 13px;
        border-radius: 2px;
        padding: 2px;
        margin-left: 5px;

      }
    }
    &__input-form{
      width: 343px;
      height: 48px;
      border-radius: 5px;
      border: solid 1px #80808073;
      margin-bottom: 40px;
    }
  }
  &__next-btn{
    padding-bottom: 80px;
    padding-top: 30px;
    &__submit{
    margin: auto;
    background-color: #EA352D;
    height: 50px;  
    width: 320px;
    display: grid; 
    color: white;
    font-size: 14px;
    }
  }
}