.member-information-header{
  margin-left: 350px;
  display: inline-block;
  padding-top: 40px;
  height: 128px;
  text-align:  center;  
  
  &__logo{
    margin-right: 50px;
    display: inline-block;
    width: 185px;
    height: 49px;
    
  }
  .userRegist-complete-progress-bar{
    float: right;
    height: 72px;
    background-color:colors(ash);
    width: 552px;

    &__text{
      background-color:colors(ash);
      height: 16px;
      width: 508px;
      display: flex;

      &__member-info{
        font-size: 12px;
        color:colors(title-gray);
      }
      &__phone-confirmation{
        margin-left: 50px;
        font-size: 12px;
        color: colors(title-gray);
      }
      &__adress{
        margin-left: 35px;
        font-size: 12px;
        font-weight: 600;
        color: colors(btn-red);
      }
      &__payment{
        margin-left: 40px;
        font-size: 12px;
        color: colors(title-gray);
      }
      &__complete{
        margin-left: 70px;
        font-size: 12px;
        color:colors(title-gray);
      }
    }
    &__lines{
      background-color:colors(ash);
      height: 16px;
      width: 490px;
      display: flex;
      justify-content: center;
      align-items: center;
      &__member-info{
        height: 12px;
        width: 12px;
        background-color: colors(btn-red);
        border-radius: 50%;
      }
      &__member-info-to-phone{
        height: 2px;
        width: 105px;
        background-color: colors(btn-red);
      }
      &__phone-confirmation{
        height: 12px;
        width: 12px;
        background-color: colors(btn-red);
        border-radius: 50%;
      }
      &__phone-confirmation-to-adress{
        height: 2px;
        width: 105px;
        background-color: colors(btn-red);
      }
      &__adress{
        height: 12px;
        width: 12px;
        background-color: colors(btn-red);
        border-radius: 50%;
      }
      &__adress-to-payment{
        height: 2px;
        width: 105px;
        background-color: colors(ber-gray);
      }
      &__payment{
        height: 12px;
        width: 12px;
        background-color: colors(ber-gray);
        border-radius: 50%;
      }
      &__payment-to-complete{
        height: 2px;
        width: 105px;
        background-color:colors(ber-gray);
      }
      &__complete{
        height: 12px;
        width: 12px;
        background-color:colors(ber-gray);
        border-radius: 50%;
      }
    }
  }
}


.address-registration{
  .address-registration-entire{
    &__title{
      margin: auto;
      text-align: center;
      background-color: colors(white);
      width: 700px;
      height: 95px;
      line-height: 95px;
      font-size: 22px;
      font-weight: 550;
      margin-bottom:  2px;

    }
  }
}

.address-registration-item{
  padding-top: 40px; 
  margin: auto;
  background-color: colors(white);
  width: 700px;
  text-align: center;
  

  &__name{
    display: inline-grid;
    &__text{
      display: flex;
      margin-bottom: 5px;
      &__title{
        font-weight: 600;
      }
      &__required{
        @include required;
      }
    }

    &__input-form{
      display: inline-block;
      &__lastname{
        display: block;
        @include input-form;
        margin-bottom: 8px;

      }
      &__firstname{
        @include input-form;

      }
    }
  }

  &__kananame{
    display: block;

    &__text{
      display: flex;
      margin-bottom: 5px;
      padding-left: 180px;
      margin-top: 30px;
      &__title{
        font-weight: 600;
      }
      &__required{
        @include required;
      }
    }
    &__input-form{
      display: inline-block;
      &__lastname{
        display: block;
        @include input-form;
        margin-bottom: 8px;

      }
      &__firstname{
        @include input-form;
      }
    }
  }

  &__postalcode{
    &__text{
      display: flex;
      margin-bottom: 5px;
      padding-left: 180px;
      margin-top: 30px;
      &__title{
        font-weight: 600;

      }
      &__required{
        @include required;
      }
    }
    &__input-form{
      display: inline-block;
      &__nomber{
        @include input-form;
      }
    }
  }

  &__prefectures{
    &__text{
      display: flex;
      margin-bottom: 5px;
      padding-left: 180px;
      margin-top: 30px;
      &__title{
        font-weight: 600;

      }
      &__required{
        @include required;
      }
    }

    &__form{
      select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
      }
      select::-ms-expand {
        display: none;
      }
      &__select{
        @include input-form;
        padding-left: 18px;
        position: relative;
        background-color: colors(white); 
        &--angle{
          position: absolute;
          top: 720px;
          left: 60%;
          font-size: 25px;
          color: colors(title-gray);
          }
      }
    }
  }
  &__city{
    &__text{
      display: flex;
      margin-bottom: 5px;
      padding-left: 180px;
      margin-top: 30px;
      &__title{
        font-weight: 600;

      }
      &__required{
        @include required;
      }
    }

    &__input-form{
      &__town{
        @include input-form;
      }
    }
  }

  &__address{
    &__text{
      display: flex;
      margin-bottom: 5px;
      padding-left: 180px;
      margin-top: 30px;
      &__title{
        font-weight: 600;
      }
      &__required{
        @include required;
      }
    }
    &__input-form{
      @include input-form;
    }
  }

  &__building{
    &__text{
      display: flex;
      margin-bottom: 5px;
      padding-left: 180px;
      margin-top: 30px;
      &__title{
        font-weight: 600;
      }
      &__required{
        @include required;
        background-color: colors(ber-gray);
      }
    }

    &__input-form{
      @include input-form
    }
  }

  &__tel{
    &__text{
      display: flex;
      margin-bottom: 5px;
      padding-left: 180px;
      margin-top: 30px;
      &__title{
        font-weight: 600;
      }
      &__required{
        @include required;
        background-color: colors(ber-gray);

      }
    }
    &__input-form{
      @include input-form;
      margin-bottom: 40px;
    }
  }
  &__next-btn{
    padding-bottom: 80px;
    padding-top: 30px;
    &__submit{
      @include btn;
      margin: auto;
      background-color: colors(btn-red);

    }
  }
}