.bottom{
  background-color: rgb(245,245,245);
  padding: 40px 185px 0px 310px;
  text-align: center;
  
  .information{
    font-size: 12px;
    display: flex;
    &__privacy-policy{
    }
    &__terms{

    }
    &__transaction-law{

    }
  }
  .bottom-logo{
    height: 60px;
    width: 80px;

  }
  .copywrite{
    font-size: 13px;
  }
}