.card-data-delete{
  @include chapter;
  height: 50px;
  &__top{
    @include card-view-top;
  }
  &__information{
    @include card-view-information;
    height: 314.19px;
    padding: 64px;
    &__box{
      width: 572px;
      height: 129.09px;
      border-bottom: 1px solid colors(gray);
      &__card-ichiran{
        width: 320px;
        font-size: 16px;
        font-weight: bold;
        margin:0 auto;
      }
      &__card-companys{
        width: 320px;
        height: 64.09px;
        padding:24px 0;
        margin:0 auto;
        &__box{
          width: 320px;
          height: 16.09px;
          justify-content:space-between;
          display:flex;
          &__card-company{
          }
          &__card-delete-button{
            color:colors(btn-red);
            padding:2px 6px;
            border-radius: 3px;
            border: 1px solid colors(btn-red);
            width: 70px;
            height: 24px;
            font-size:14px;
            font-family: 'Source Sans Pro', Helvetica, Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
            background-color: colors(white);
            cursor: pointer;
          }
        }
        &__card-number{
          width: 320px;
          height: 16px;
          margin-top:8px;
          font-size: 16px;
        }
        &__card-yearmonth{
          width: 320px;
          height: 16px;
          margin-top:8px;
          font-size: 16px;
        }
      }
    }
    &__box-payment{
      width: 572px;
      height: 185.11px;
      margin-top:40px;
      text-align:right;
      &__payment-link{
        color:colors(blue);
        font-size:14px;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
}