.login_outline {
  .login_contents {
    margin: 0px auto;
    width: 456px;

    .login_no_account {
      background-color: colors(white);
      text-align: center;
      height: 144px;

      &__text {
        padding-top: 40px;
        margin-bottom: 8px;
      }
      &__btn {
        @include btn($background-color: colors(blue));
        margin: 0px auto;
        line-height: 50px;
      }
    }

    .login_otherways {
      background-color: colors(white);
      margin-top: 2px;
      height: 181px;

      .login-type {
        padding: 32px 0px;
        text-align: center;
        &__facebook {
          width: 328px;
          height: 50px;
          background-color: #385185;
          color: colors(white);
          font-size: 13px;
          &__icon {
            display: inline;
            float: left;
            font-size: 30px;
            margin: 7px;
          }
          &__text {
            margin: 16px 40px;
          }
        }

        &__google {
          margin-top: 16px;
          width: 328px;
          height: 50px;
          background-color: rgb(255, 249, 249);
          font-size: 13px;
          background: url('google.icon.png');
          background-size: 17px;
          background-repeat: no-repeat;
          background-position-x: 15px;
          background-position-y: 15px;

          &__icon {
          }
          &__text {
            display: inline;
            font-size: 20px;
            }
          }
        }
      }
    .login_form{
      height: 406px;
      background-color: colors(white);
      .login_form_contents{
        margin: 0 64px;
        padding-top: 24px;
        &__input-email{
          width: 328px;
          height: 48px;
          border-radius: 5px;
          border: solid 1px #80808073;

        }
        &__input-password{
          margin-top: 30px;
          width: 328px;
          height: 48px;
          border-radius: 5px;
          border: solid 1px #80808073;
        }
        &__re-captcha{
          margin-top: 30px;
        }
        &__login-btn{
          margin: 24px 0px 40px;
          width: 328px;
          height: 50px;
          background-color: colors(btn-red);
          color: colors(white);
          font-size: 13px;
        }
        &__foget-password__text{
          margin-top: 40px;
          color: colors(blue);
        }
        &__foget-password__text:hover{
          text-decoration:underline;
        }
      }
    }
  }
}

