.mypage-logout {
  height: 180px;
  background-color: colors(white);
  @include chapter;
  &__form {
    padding: 64px;
    &__btn {
      width: 320px;
      margin: 0 auto;
      &--logout {
        background: colors(btn-red);
        border: 1px solid colors(btn-red);
        color: colors(white);
        width: 100%;
        height: 48px;
        cursor: pointer;
        text-align: center;
        display: block;
        font-size: 14px;
      }
    }
  }
}