.main-items{
  background-color: rgb(245,245,245);
  padding-left: 26%;
  text-align:center;

  .title{
    text-align: center;
    background-color: white;
    width: 700px;
    height: 95px;
    line-height: 95px;
    font-size: 22px;
    font-weight: 550;
    margin-bottom:  2px;
  }
  .input-screen{
    background-color: white;
    width: 700px;
    height: 350px;
    margin-bottom:  2px;

    .content{
      padding-top: 40px;
      margin: 0px 145px;
      padding: 45px;
      text-align: left;

      &__text{
        font-size: 13px;

      }
      &__authentication{
        margin: 40px 0px;
        &__text{
          font-size: 14px;
          font-weight: 600;
        }
        &__input{
          height: 40px;
          width: 320px;
        }
      }
      &__submit-btn{
        @include btn;
        margin-top: 40px;
        background-color: #EA352D;
      }
    }
  }
}