
.userRegist-complete-header {
  width: 100vw;
  height: 150px;
  .userRegist-complete-header-headers {
    height: 100%;
    width: 700px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    &__mercarilogo {
      width: 200px;
    }
    &__status {
      height: 100%;
      width: 508px;
      display: flex;
      align-items: center;
      &__statusbar {
        height: 32px;
        width: 508px;
      }
    }
  }
}
.userRegist-complete-contents {
  @include chapter(0, auto);
  height: calc(100% - 150px - 186px);
  .userRegist-complete-uppercontent {
    margin: 0 auto;
    height: 80px;
    width: 100%;
    text-align: center;
    line-height: 80px;
    border-bottom: solid 1px colors(gray);
    font-size: 14px;
  }
  .userRegist-complete-rowercontent {
    margin: 0 auto;
    height: 260px;
    width: 100%;
    text-align: center;
    position: relative;
    &__text {
      height: 60px;
      width: 60%;
      margin: 0px 40px 40px 140px;
      padding: 20px;
      font-size: 15px;
    }
    &__box {
      height: 50px;
      width: 55%;
      background-color: colors(btn-red);
      color: colors(white);
      text-align: center;
      line-height: 50px;
      margin: 0 auto;
    }
  }
  .userRegist-complete-advertisement {
    width: 700px;
    height: 250px;
    background-color: colors(black);
  }
}
