.registrationNewmenbar-body{
  height: 100vh;
  width: 100vw;
  background: colors(gray);
}
.registrationNewmenbar-header{
  width: 1440px;
  height: 128px;
  background: colors(gray);
}
.registrationNewmenbar-maincontent{
  width: 1440px;
  height: 384px;
  background: colors(gray);
  &__contents{
  width: 700px;
  height: 384px;
  margin: 0 auto;
  background: colors(white);

    &__header{
    width: 700px;
    height: 97px;
    background: colors(white);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 1px colors(gray);
    }
    &__box{
    width: 700px;
    height: 287px;
    background: colors(white);
    display: flex;
    justify-content: center;
    align-items: center;
      &__boxs{
      width: 343px;
      height: 182px;
      background: colors(white);
        &__mail{
        width: 343px;
        height: 50px;
        background: colors(white);
        text-align: center;
        }
        .mailaddress{
          width: 328px;
          height: 50px;
          background: colors(btn-red);
          color: white;
          font-size: 13px;
          &__icon{
            display: inline;
            float: left;
            font-size: 20px;
            margin: 15px;
          }
          &__text{
            margin: 16px 40px;
          }
        }
        &__facebook{
          width: 343px;
          height: 50px;
          background: colors(white);
          margin: 16px 0px 0px
        }
        .facebook{
          width: 328px;
          height: 50px;
          background: colors(facebook-blue);
          color: white;
          font-size: 13px;
          margin: 0 auto;
          display: flex;
          align-items: center;
          &__icon{
            font-size: 30px;
            margin-left: 15px
          }
          &__text{
            margin: 16px 60px;
          }
        }
        &__google{
          width: 343px;
          height: 50px;
          background: colors(white);
          margin: 16px 0px 0px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .google{
          width: 328px;
          height: 50px;
          background: colors(white);
          font-size: 13px;
          background: url('google.icon.png');
          background-size: 17px;
          background-repeat: no-repeat;
          background-position-x: 20px;
          background-position-y: 15px;

          &__text{
            display: inline;
            font-size: 14px;
          }
        }
      }
    }
  }
}