.exhibit{
  width: 100vw;
  &__box{
    background-color: white;
    height: 100%;
    width: 48.5%;
    margin: auto;
    &__title{
     height: 100px;
     width: 100%;
     text-align: center;
     line-height: 100px;
     font-size: 22px;
     font-weight: bold;
     border-bottom: solid 1px colors(bottom-gray); 
    }
    &__image{
      height: 303px;
      width: 100%;
      border-bottom: solid 1px colors(bottom-gray); 
      &__in{
        height: 100%;
        width: 100%;
        padding: 40px;
        &__title{
          font-weight: bold;
          display: flex;
          &__name{
            font-size: 16px;
          }
          &__required{
            @include requiredname;
          }
        }
        &__message{
          padding-top: 10px;
          font-size: 14px;
        }
        &__upload{
          height: 162px;
          width: 100%;
          background-color: colors(ash);
          margin-top: 20px;
          border: dotted 1.5px colors(gray2);
          cursor: pointer;
          #image{
            display: none;
          }
          &__message{
            text-align: center;
            margin-top: 60px;
            line-height: 1.5;
            font-size: 14px;
            letter-spacing: -2px;
            -webkit-text-stroke: 0.7px;
          }
        }
       }
      }
    &__itemname{
      width: 100%;
      border-bottom: solid 1px colors(bottom-gray);
      padding: 40px;
      &__topbox{
        &__title{
          font-weight: bold;
          display: flex;
          &__name{
            font-size: 14px;
          }
          &__required{
            @include requiredname;
          }
        }
        .product_name{
          height: 48px;
          width: 100%;
          margin-top: 8px;
          border-radius: 5px;
          border: solid 1px colors(gray2);
          font-size: 16px;
          padding-left: 15px;
          padding-top: 2px;
          @include focus;
        }
      }
      &__bottombox{
        &__title{
          font-weight: bold;
          display: flex;
          margin-top: 40px;
          &__name{
            font-size: 14px;
          }
          &__required{
            @include requiredname;
          }
        }
        .product_detail{
          height: 142px;
          width: 100%;
          margin-top: 8px;
          border: solid 1px colors(gray2);
          padding: 10px;
          font-size: 15.8px;
          resize: vertical;
          @include focus;
        }
      }
    }
    &__detail{
      height: 261px;
      width: 100%;
      border-bottom: solid 1px colors(bottom-gray);
      display: flex;
      &__leftbox{
        padding: 40px;
        &__title{
          width: 70px;
          font-size: 14px;
          font-weight: bold;
          color: gray;
        }
      }
      &__rightbox{
        width: 80%;
        padding: 0px 35px 0 40px;
        &__categorybox#category1{
          position: inherit;
          width: 100%;
        }
        &__categorybox#category2{
          position: inherit;
          width: 100%;
        }
        &__categorybox{
          width: 88%;
          position: relative;
          left: 15px;
          float: right;
         
          &__categorytitle{
            display: flex;
            margin-bottom: 5px;
            padding-top: 40px;
            &__name{
              font-size: 14px;
              font-weight: bold;
            }
            &__required{
              @include requiredname;
            }
          }
        @include fas-arrow;
        #category{
          font-size: 16px;
          float: right;
          height: 48px;
          width: 95%;
          background-color: colors(gray-trans);
          text-indent: 15px;
          -webkit-appearance: none;
          position: absolute;
          cursor: pointer;
          z-index: 1;
          @include focus;
        }
        #child_category{
          font-size: 16px;
          float: right;
          height: 48px;
          width: 95%;
          background-color: colors(gray-trans);
          text-indent: 15px;
          -webkit-appearance: none;
          position: absolute;
          cursor: pointer;
          z-index: 1;
          @include focus;
        }
        #grandchild_category{
          font-size: 16px;
          float: right;
          height: 48px;
          width: 95%;
          background-color: colors(gray-trans);
          text-indent: 15px;
          -webkit-appearance: none;
          position: absolute;
          cursor: pointer;
          z-index: 1;
          @include focus;
        }
        
      }
      &__statusbox{
        width: 88%;
        position: relative;
        left: 15px;
        top: -13px;
        float: right;
        &__statustitle{
          display: flex;
          margin-bottom: 5px;
          padding-top: 80px;
          clear: both;
          &__name{
            font-size: 14px;
            font-weight: bold;
          }
          &__required{
            @include requiredname;
          }
        }
   
      
      @include fas-arrow;
      #status{
        font-size: 16px;
        float: right;
        height: 48px;
        width: 95%;
        background-color: colors(gray-trans);
        text-indent: 15px;
        -webkit-appearance: button;
        position: absolute;
        z-index: 1;
        cursor: pointer;
        @include focus;
      }
     }
    }
   }
    &__delivery{
      height: 371px;
      width: 100%;
      border-bottom: solid 1px colors(bottom-gray);
      display: flex;
      &__leftbox{
        padding: 40px 0 40px 40px;
        &__title{
          width: 110px;
          font-size: 14px;
          font-weight: bold;
          color: gray;
          display: flex;
          .fas{
            color: colors(blue);
          }
        }
      }
      &__rightbox{
        width: 80%;
        padding: 0px 35px 0 40px;
        &__deliverymoney{
          width: 88%;
          position: relative;
          left: 15px;
          float: right;
          &__deliverytitle{
            display: flex;
            margin-bottom: 5px;
            padding-top: 40px;
            &__name{
              font-size: 14px;
              font-weight: bold;
            }
            &__required{
              @include requiredname;
            }
          }
        @include fas-arrow;
        #charge{
          font-size: 16px;
          float: right;
          height: 48px;
          width: 95%;
          background-color: colors(gray-trans);
          text-indent: 15px;
          -webkit-appearance: none;
          position: absolute;
          cursor: pointer;
          z-index: 1;
          @include focus;
        }
      }
      &__deliverymethod{
        width: 94%;
        position: relative;
        left: 8px;
        float: right;
        &__deliverytitle{
          display: flex;
          margin-bottom: 5px;
          padding-top: 40px;
          &__name{
            font-size: 14px;
            font-weight: bold;
          }
          &__required{
            @include requiredname;
          }
        }
      @include fas-arrow;
      #shipping_method{
        font-size: 16px;
        float: right;
        height: 48px;
        width: 95%;
        background-color: colors(gray-trans);
        text-indent: 15px;
        -webkit-appearance: none;
        position: absolute;
        cursor: pointer;
        z-index: 1;
        @include focus;
      }
    }
      &__deliveryarea{
        width: 88%;
        position: relative;
        left: 15px;
        padding-top: 30px;
        float: right;
        &__areatitle{
          display: flex;
          margin-bottom: 5px;
          padding-top: 35px;
          clear: both;
          &__name{
            font-size: 14px;
            font-weight: bold;
          }
          &__required{
            @include requiredname;
          }
        }
      @include fas-arrow;
      #shipping_area{
        font-size: 16px;
        float: right;
        height: 48px;
        width: 95%;
        background-color: colors(gray-trans);
        text-indent: 15px;
        -webkit-appearance: button;
        position: absolute;
        z-index: 1;
        cursor: pointer;
        @include focus;
      }
     }
     &__deliveryday{
      width: 88%;
      position: relative;
      left: 15px;
      padding-top: 30px;
      float: right;
      &__daytitle{
        display: flex;
        margin-bottom: 5px;
        padding-top: 35px;
        clear: both;
        &__name{
          font-size: 14px;
          font-weight: bold;
        }
        &__required{
          @include requiredname;
        }
      }
    @include fas-arrow;
    #shipping_date{
      font-size: 16px;
      float: right;
      height: 48px;
      width: 95%;
      background-color: colors(gray-trans);
      text-indent: 15px;
      -webkit-appearance: button;
      position: absolute;
      z-index: 1;
      cursor: pointer;
      @include focus;
    }
   }
    }
    }
    &__price{
      height: 299px;
      width: 100%;
      border-bottom: solid 1px colors(bottom-gray);
      display: flex;
      &__leftbox{
        padding: 45px 0 40px 40px;
        &__title{
          width: 180px;
          font-size: 14px;
          font-weight: bold;
          color: gray;
          display: flex;
          .fas{
            color: colors(blue);
          }
        }
      }
      &__rightbox{
        width: 80%;
        padding: 0px 35px 0 40px;
        &__value{
          width: 100%;
          position: relative;
          left: 15px;
          float: right;
          display: flex;
          margin-bottom: 5px;
          padding-top: 50px;
          justify-content: space-between;
          &__valuetitle{
            display: flex;
            position: relative;
            top: 14px;
            right: 15px;
            &__name{
              font-size: 14px;
              font-weight: bold;
              width: 28px;
            }
            &__required{
              @include requiredname;
            }
          }
          &__yenmark{
            line-height: 47px;
            position: relative;
            left: 55px;
            font-size: 10px;
          }
          .product_price{
            position: relative;
            bottom: 4px;
            height: 48px;
            border-radius: 5px;
            border: solid 1px colors(gray2);
            right: 20px;
            width: 160px;
            font-size: 15.4px;
            text-align: right;
            padding-right: 16px;
            @include focus;
          }
        }
        &__fee{
          border-top: solid 1px colors(bottom-gray);
          border-bottom: solid 1px colors(bottom-gray);
          width: 99%;
          height: 65px;
          clear: both;
          position: relative;
          top: 13px;
          &__title{
            width: 120px;
            height: 25px;
            line-height: 60px;
          }
          &__display{
            float: right;
          }
        }
        &__profit{
          width: 99%;
          height: 65px;
          clear: both;
          position: relative;
          top: 13px;
          &__title{
            width: 120px;
            height: 25px;
            line-height: 60px;
            font-size: 16px;
            font-weight: bold;
          }
          &__display{
            font-weight: bold;
            float: right;
            font-size: 16px;
          }
        }
      }
   }
    &__confirmation{
      height: 329px;
      width: 100%;
      &__box{
        height: 329px;
        width: 100%;
        padding: 40px;
        &__consenttext{
          width: 101%;
          font-size: 14px;
          line-height: 22px;
          &__1{
            .consent1{
              color: colors(blue);
            }
            .consent2{
              color: colors(blue);
            }
          }
          &__2{
            .consent3{
              color: colors(blue);
            }
          }
          &__3{
            .consent4{
              color: colors(blue);
            }
          }
        }
        &__exhibit-btn{
          width: 100%;
          height: 50px;
          margin-top: 40px;
          .exhibit-submit{
            height: 50px;
            width: 100%;
            background: colors(btn-red);
            color: white;
            cursor: pointer;
            outline: none;
          }
        }
        &__return-btn{
          width: 100%;
          height: 50px;
          margin-top: 40px;
          text-align: center;
          .return-link{
            height: 50px;
            width: 45%;
            background: colors(gray3);
            color: white;
            cursor: pointer;
            outline: none;
            padding: 17px 119px 17px 119px;
          }
        }
      }
    }
  }
}



