
@mixin btn ($background-color:#AAAAAA,$margin-top:15px){
  font-size: 14px;
  color: white;
  height: 50px;  
  width: 320px;
  display: grid; 
  margin-top: $margin-top;
  background-color: $background-color;
}

@mixin tabs() {
  width: 100%;
  height: 75px;
  background-color: #eee;
  display: flex;
}

@mixin active() {
  border-top: 1px solid red;
  background-color: #fff;
}

@mixin number() {
  font-weight: 600px;
  margin-left: 8px;
  font-size: 16px;
}

