@mixin btn($background-color: #aaaaaa, $margin-top: 15px) {
  font-size: 14px;
  color: white;
  height: 50px;
  width: 320px;
  display: grid;
  margin-top: $margin-top;
  background-color: $background-color;
}

@mixin tabs() {
  width: 100%;
  height: 75px;
  background-color: #eee;
  display: flex;
}

@mixin active() {
  border-top: 1px solid red;
  background-color: #fff;
}

@mixin number() {
  font-weight: 600px;
  margin-left: 8px;
  font-size: 16px;
}

@mixin chapter($top: 8px, $landr: 36.5px) {
  margin: $top $landr 0;
  width: 700px;
  background-color: colors(white);
}

@mixin price {
  border-radius: 0 14px 14px 0;
  background-color: rgba(0, 0, 0, 0.4);
  height: 28px;
  width: 78px;
  text-align: center;
  color: #fff;
  position: absolute;
  line-height: 27px;
  margin-top: -42px;
}

@mixin name {
  height: 38px;
  width: 160px;
  margin: 20px 15px;
  overflow: hidden;
  font-size: 14px;
}

@mixin opacity {
  background: linear-gradient(to right, #00000000, #fff 30%);
  height: 15px;
  width: 55px;
  float: right;
  position: relative;
  top: -13px;
}

@mixin image {
  img {
    height: 188px;
    width: 188px;
  }
}

@mixin requiredname {
  font-size: 12px;
  font-weight: bold;
  color: white;
  background-color: colors(btn-red);
  width: 32px;
  height: 19px;
  text-align: center;
  line-height: 20px;
  border-radius: 10%;
  margin-left: 10px;
  margin-top: -4px;
}

@mixin focus {
  &:focus {
    border-color: rgb(0, 153, 255);
    outline: 0;
  }
}

@mixin fas-arrow {
  .fas {
    font-weight: 900;
    float: right;
    position: relative;
    font-size: 25px;
    top: 12px;
    right: 40px;
    color: #888;
  }
}
@mixin required {
  background-color: #ea352d;
  color: white;
  width: 32px;
  height: 19px;
  display: inline-block;
  font-size: 13px;
  border-radius: 2px;
  padding: 2px;
  margin-left: 5px;
}

@mixin input-form($width: 343px, $height: 48px) {
  width: $width;
  height: $height;
  padding: 10px 16px 8px;
  border-radius: 5px;
  border: solid 1px #80808073;
}
@mixin clearfix {
  clear: both;
  display: block;
  content: "";
}

@mixin textfield {
  width: 572px;
  height: 48px;
  border: 1px solid colors(ber-gray);
  border-radius: 4px;
  line-height: 1.5;
  background-color: colors(white);
  padding: 10px 16px 8px;
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic,
    メイリオ, Meiryo, sans-serif;
  font-size: 16px;
}

@mixin label-nini-gray {
  height: 19px;
  width: 32px;
  font-size: 12px;
  background-color: colors(ber-gray);
  color: colors(white);
  margin-left: 8px;
  margin-top: 1px;
  border-radius: 2px;
  align-items: center;
  justify-content: center;
  padding: 4px 4px;
}

@mixin card-view-top {
  width: 700px;
  height: 50px;
  padding: 8px 24px;
  background-color: colors(white);
  color: colors(black);
  font-size: 24px;
  font-weight: bold;
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic",
    "メイリオ", "Meiryo", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

@mixin card-view-information {
  width: 700px;
  background-color: colors(white);
  color: colors(black);
  font-size: 14px;
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic",
    "メイリオ", "Meiryo", sans-serif;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 2px;
}

@mixin label() {
  display: flex;
  margin: 30px 0 5px;
  padding-left: 180px;
}

@mixin slide-banner-owl-item-background($background-image) {
  background: image_url($background-image);
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
}

@mixin slide-banner-owl-nav-btn($background-image) {
  background-image: image_url($background-image) !important;
  cursor: pointer;
  height: 46px;
  width: 31px;
  position: absolute;
  top: 50%;
  outline: none;
  -webkit-transform: translateY(-23px);
  transform: translateY(-23px);
}

@mixin header-right-menu($color: colors(icon-black)) {
  padding: 0 14px;
  height: 44px;
  display: block;
  &__link {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    font-size: 14px;
    height: 32px;
    .fa {
      color: $color;
      font-size: 17px;
      padding-right: 6px;
      -webkit-text-stroke: 2px colors(header-black);
    }
  }
  &__link:hover {
    color: colors(blue);
    .fa {
      color: colors(blue);
    }
  }
}
